-i https://pypi.org/simple/
attrs==20.3.0
click==7.1.2
flake8==3.8.3
flask-sqlalchemy==2.4.3
flask==1.1.2
geojson==2.5.0
greenlet==1.0.0 ; python_version >= '3'
importlib-metadata==4.0.0 ; python_version < '3.8'
itsdangerous==1.1.0
jinja2==2.11.3
markupsafe==1.1.1
mccabe==0.6.1
more-itertools==8.7.0
packaging==20.9
passlib==1.7.2
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyjwt==1.7.1
pyparsing==2.4.7
pyproj==2.6.1.post1
pytest==5.4.3
sqlalchemy==1.4.9
typing-extensions==3.7.4.3 ; python_version < '3.8'
wcwidth==0.2.5
werkzeug==1.0.1
zipp==3.4.1
